{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2020-08-01",
    "asyncClient" : "AmazonPrometheusAsyncClient",
    "asyncClientBuilderClassName" : "AmazonPrometheusAsyncClientBuilder",
    "asyncInterface" : "AmazonPrometheusAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonPrometheusModuleInjector",
    "defaultEndpoint" : "aps.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "aps.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Managed Service for Prometheus</p>",
    "endpointPrefix" : "aps",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.prometheus",
    "packagePath" : "com/amazonaws/services/prometheus",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Prometheus Service",
    "serviceId" : "amp",
    "serviceName" : "Amazon Prometheus Service",
    "signingName" : "aps",
    "smokeTestsPackageName" : "com.amazonaws.services.prometheus.smoketests",
    "syncClient" : "AmazonPrometheusClient",
    "syncClientBuilderClassName" : "AmazonPrometheusClientBuilder",
    "syncInterface" : "AmazonPrometheus",
    "uid" : "amp-2020-08-01",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateAlertManagerDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAlertManagerDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAlertManagerDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAlertManagerDefinitionRequest, CreateAlertManagerDefinitionResult>",
      "asyncReturnType" : "CreateAlertManagerDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create an alert manager definition.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAlertManagerDefinitionRequest",
        "variableName" : "createAlertManagerDefinitionRequest",
        "variableType" : "CreateAlertManagerDefinitionRequest",
        "documentation" : "<p>Represents the input of a CreateAlertManagerDefinition operation.</p>",
        "simpleType" : "CreateAlertManagerDefinitionRequest",
        "variableSetterType" : "CreateAlertManagerDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAlertManagerDefinition",
      "operationName" : "CreateAlertManagerDefinition",
      "returnType" : {
        "returnType" : "CreateAlertManagerDefinitionResult",
        "documentation" : "<p>Represents the output of a CreateAlertManagerDefinition operation.</p>"
      },
      "syncReturnType" : "CreateAlertManagerDefinitionResult"
    },
    "CreateLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateLoggingConfigurationRequest, CreateLoggingConfigurationResult>",
      "asyncReturnType" : "CreateLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create logging configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateLoggingConfigurationRequest",
        "variableName" : "createLoggingConfigurationRequest",
        "variableType" : "CreateLoggingConfigurationRequest",
        "documentation" : "<p>Represents the input of a CreateLoggingConfiguration operation.</p>",
        "simpleType" : "CreateLoggingConfigurationRequest",
        "variableSetterType" : "CreateLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createLoggingConfiguration",
      "operationName" : "CreateLoggingConfiguration",
      "returnType" : {
        "returnType" : "CreateLoggingConfigurationResult",
        "documentation" : "<p>Represents the output of a CreateLoggingConfiguration operation.</p>"
      },
      "syncReturnType" : "CreateLoggingConfigurationResult"
    },
    "CreateRuleGroupsNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateRuleGroupsNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateRuleGroupsNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateRuleGroupsNamespaceRequest, CreateRuleGroupsNamespaceResult>",
      "asyncReturnType" : "CreateRuleGroupsNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a rule group namespace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateRuleGroupsNamespaceRequest",
        "variableName" : "createRuleGroupsNamespaceRequest",
        "variableType" : "CreateRuleGroupsNamespaceRequest",
        "documentation" : "<p>Represents the input of a CreateRuleGroupsNamespace operation.</p>",
        "simpleType" : "CreateRuleGroupsNamespaceRequest",
        "variableSetterType" : "CreateRuleGroupsNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createRuleGroupsNamespace",
      "operationName" : "CreateRuleGroupsNamespace",
      "returnType" : {
        "returnType" : "CreateRuleGroupsNamespaceResult",
        "documentation" : "<p>Represents the output of a CreateRuleGroupsNamespace operation.</p>"
      },
      "syncReturnType" : "CreateRuleGroupsNamespaceResult"
    },
    "CreateScraper" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateScraperResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateScraperResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateScraperRequest, CreateScraperResult>",
      "asyncReturnType" : "CreateScraperResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a scraper.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateScraperRequest",
        "variableName" : "createScraperRequest",
        "variableType" : "CreateScraperRequest",
        "documentation" : "<p>Represents the input of a CreateScraper operation.</p>",
        "simpleType" : "CreateScraperRequest",
        "variableSetterType" : "CreateScraperRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createScraper",
      "operationName" : "CreateScraper",
      "returnType" : {
        "returnType" : "CreateScraperResult",
        "documentation" : "<p>Represents the output of a CreateScraper operation.</p>"
      },
      "syncReturnType" : "CreateScraperResult"
    },
    "CreateWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateWorkspaceRequest, CreateWorkspaceResult>",
      "asyncReturnType" : "CreateWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new AMP workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateWorkspaceRequest",
        "variableName" : "createWorkspaceRequest",
        "variableType" : "CreateWorkspaceRequest",
        "documentation" : "<p>Represents the input of a CreateWorkspace operation.</p>",
        "simpleType" : "CreateWorkspaceRequest",
        "variableSetterType" : "CreateWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createWorkspace",
      "operationName" : "CreateWorkspace",
      "returnType" : {
        "returnType" : "CreateWorkspaceResult",
        "documentation" : "<p>Represents the output of a CreateWorkspace operation.</p>"
      },
      "syncReturnType" : "CreateWorkspaceResult"
    },
    "DeleteAlertManagerDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAlertManagerDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAlertManagerDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAlertManagerDefinitionRequest, DeleteAlertManagerDefinitionResult>",
      "asyncReturnType" : "DeleteAlertManagerDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an alert manager definition.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAlertManagerDefinitionRequest",
        "variableName" : "deleteAlertManagerDefinitionRequest",
        "variableType" : "DeleteAlertManagerDefinitionRequest",
        "documentation" : "<p>Represents the input of a DeleteAlertManagerDefinition operation.</p>",
        "simpleType" : "DeleteAlertManagerDefinitionRequest",
        "variableSetterType" : "DeleteAlertManagerDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAlertManagerDefinition",
      "operationName" : "DeleteAlertManagerDefinition",
      "returnType" : {
        "returnType" : "DeleteAlertManagerDefinitionResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAlertManagerDefinitionResult"
    },
    "DeleteLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteLoggingConfigurationRequest, DeleteLoggingConfigurationResult>",
      "asyncReturnType" : "DeleteLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete logging configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteLoggingConfigurationRequest",
        "variableName" : "deleteLoggingConfigurationRequest",
        "variableType" : "DeleteLoggingConfigurationRequest",
        "documentation" : "<p>Represents the input of a DeleteLoggingConfiguration operation.</p>",
        "simpleType" : "DeleteLoggingConfigurationRequest",
        "variableSetterType" : "DeleteLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteLoggingConfiguration",
      "operationName" : "DeleteLoggingConfiguration",
      "returnType" : {
        "returnType" : "DeleteLoggingConfigurationResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteLoggingConfigurationResult"
    },
    "DeleteRuleGroupsNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteRuleGroupsNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteRuleGroupsNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteRuleGroupsNamespaceRequest, DeleteRuleGroupsNamespaceResult>",
      "asyncReturnType" : "DeleteRuleGroupsNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete a rule groups namespace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteRuleGroupsNamespaceRequest",
        "variableName" : "deleteRuleGroupsNamespaceRequest",
        "variableType" : "DeleteRuleGroupsNamespaceRequest",
        "documentation" : "<p>Represents the input of a DeleteRuleGroupsNamespace operation.</p>",
        "simpleType" : "DeleteRuleGroupsNamespaceRequest",
        "variableSetterType" : "DeleteRuleGroupsNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteRuleGroupsNamespace",
      "operationName" : "DeleteRuleGroupsNamespace",
      "returnType" : {
        "returnType" : "DeleteRuleGroupsNamespaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteRuleGroupsNamespaceResult"
    },
    "DeleteScraper" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteScraperResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteScraperResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteScraperRequest, DeleteScraperResult>",
      "asyncReturnType" : "DeleteScraperResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes a scraper.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteScraperRequest",
        "variableName" : "deleteScraperRequest",
        "variableType" : "DeleteScraperRequest",
        "documentation" : "<p>Represents the input of a DeleteScraper operation.</p>",
        "simpleType" : "DeleteScraperRequest",
        "variableSetterType" : "DeleteScraperRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteScraper",
      "operationName" : "DeleteScraper",
      "returnType" : {
        "returnType" : "DeleteScraperResult",
        "documentation" : "<p>Represents the output of a DeleteScraper operation.</p>"
      },
      "syncReturnType" : "DeleteScraperResult"
    },
    "DeleteWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteWorkspaceRequest, DeleteWorkspaceResult>",
      "asyncReturnType" : "DeleteWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an AMP workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteWorkspaceRequest",
        "variableName" : "deleteWorkspaceRequest",
        "variableType" : "DeleteWorkspaceRequest",
        "documentation" : "<p>Represents the input of a DeleteWorkspace operation.</p>",
        "simpleType" : "DeleteWorkspaceRequest",
        "variableSetterType" : "DeleteWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteWorkspace",
      "operationName" : "DeleteWorkspace",
      "returnType" : {
        "returnType" : "DeleteWorkspaceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteWorkspaceResult"
    },
    "DescribeAlertManagerDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeAlertManagerDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeAlertManagerDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeAlertManagerDefinitionRequest, DescribeAlertManagerDefinitionResult>",
      "asyncReturnType" : "DescribeAlertManagerDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an alert manager definition.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeAlertManagerDefinitionRequest",
        "variableName" : "describeAlertManagerDefinitionRequest",
        "variableType" : "DescribeAlertManagerDefinitionRequest",
        "documentation" : "<p>Represents the input of a DescribeAlertManagerDefinition operation.</p>",
        "simpleType" : "DescribeAlertManagerDefinitionRequest",
        "variableSetterType" : "DescribeAlertManagerDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeAlertManagerDefinition",
      "operationName" : "DescribeAlertManagerDefinition",
      "returnType" : {
        "returnType" : "DescribeAlertManagerDefinitionResult",
        "documentation" : "<p>Represents the output of a DescribeAlertManagerDefinition operation.</p>"
      },
      "syncReturnType" : "DescribeAlertManagerDefinitionResult"
    },
    "DescribeLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeLoggingConfigurationRequest, DescribeLoggingConfigurationResult>",
      "asyncReturnType" : "DescribeLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes logging configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeLoggingConfigurationRequest",
        "variableName" : "describeLoggingConfigurationRequest",
        "variableType" : "DescribeLoggingConfigurationRequest",
        "documentation" : "<p>Represents the input of a DescribeLoggingConfiguration operation.</p>",
        "simpleType" : "DescribeLoggingConfigurationRequest",
        "variableSetterType" : "DescribeLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeLoggingConfiguration",
      "operationName" : "DescribeLoggingConfiguration",
      "returnType" : {
        "returnType" : "DescribeLoggingConfigurationResult",
        "documentation" : "<p>Represents the output of a DescribeLoggingConfiguration operation.</p>"
      },
      "syncReturnType" : "DescribeLoggingConfigurationResult"
    },
    "DescribeRuleGroupsNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeRuleGroupsNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeRuleGroupsNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeRuleGroupsNamespaceRequest, DescribeRuleGroupsNamespaceResult>",
      "asyncReturnType" : "DescribeRuleGroupsNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describe a rule groups namespace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeRuleGroupsNamespaceRequest",
        "variableName" : "describeRuleGroupsNamespaceRequest",
        "variableType" : "DescribeRuleGroupsNamespaceRequest",
        "documentation" : "<p>Represents the input of a DescribeRuleGroupsNamespace operation.</p>",
        "simpleType" : "DescribeRuleGroupsNamespaceRequest",
        "variableSetterType" : "DescribeRuleGroupsNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeRuleGroupsNamespace",
      "operationName" : "DescribeRuleGroupsNamespace",
      "returnType" : {
        "returnType" : "DescribeRuleGroupsNamespaceResult",
        "documentation" : "<p>Represents the output of a DescribeRuleGroupsNamespace operation.</p>"
      },
      "syncReturnType" : "DescribeRuleGroupsNamespaceResult"
    },
    "DescribeScraper" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeScraperResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeScraperResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeScraperRequest, DescribeScraperResult>",
      "asyncReturnType" : "DescribeScraperResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describe an existing scraper.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeScraperRequest",
        "variableName" : "describeScraperRequest",
        "variableType" : "DescribeScraperRequest",
        "documentation" : "<p>Represents the input of a DescribeScraper operation.</p>",
        "simpleType" : "DescribeScraperRequest",
        "variableSetterType" : "DescribeScraperRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeScraper",
      "operationName" : "DescribeScraper",
      "returnType" : {
        "returnType" : "DescribeScraperResult",
        "documentation" : "<p>Represents the output of a DescribeScraper operation.</p>"
      },
      "syncReturnType" : "DescribeScraperResult"
    },
    "DescribeWorkspace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeWorkspaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeWorkspaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeWorkspaceRequest, DescribeWorkspaceResult>",
      "asyncReturnType" : "DescribeWorkspaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an existing AMP workspace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeWorkspaceRequest",
        "variableName" : "describeWorkspaceRequest",
        "variableType" : "DescribeWorkspaceRequest",
        "documentation" : "<p>Represents the input of a DescribeWorkspace operation.</p>",
        "simpleType" : "DescribeWorkspaceRequest",
        "variableSetterType" : "DescribeWorkspaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeWorkspace",
      "operationName" : "DescribeWorkspace",
      "returnType" : {
        "returnType" : "DescribeWorkspaceResult",
        "documentation" : "<p>Represents the output of a DescribeWorkspace operation.</p>"
      },
      "syncReturnType" : "DescribeWorkspaceResult"
    },
    "GetDefaultScraperConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDefaultScraperConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDefaultScraperConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDefaultScraperConfigurationRequest, GetDefaultScraperConfigurationResult>",
      "asyncReturnType" : "GetDefaultScraperConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a default configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDefaultScraperConfigurationRequest",
        "variableName" : "getDefaultScraperConfigurationRequest",
        "variableType" : "GetDefaultScraperConfigurationRequest",
        "documentation" : "<p>Represents the input of a GetDefaultScraperConfiguration operation.</p>",
        "simpleType" : "GetDefaultScraperConfigurationRequest",
        "variableSetterType" : "GetDefaultScraperConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDefaultScraperConfiguration",
      "operationName" : "GetDefaultScraperConfiguration",
      "returnType" : {
        "returnType" : "GetDefaultScraperConfigurationResult",
        "documentation" : "<p>Represents the output of a GetDefaultScraperConfiguration operation.</p>"
      },
      "syncReturnType" : "GetDefaultScraperConfigurationResult"
    },
    "ListRuleGroupsNamespaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListRuleGroupsNamespacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListRuleGroupsNamespacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListRuleGroupsNamespacesRequest, ListRuleGroupsNamespacesResult>",
      "asyncReturnType" : "ListRuleGroupsNamespacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists rule groups namespaces.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListRuleGroupsNamespacesRequest",
        "variableName" : "listRuleGroupsNamespacesRequest",
        "variableType" : "ListRuleGroupsNamespacesRequest",
        "documentation" : "<p>Represents the input of a ListRuleGroupsNamespaces operation.</p>",
        "simpleType" : "ListRuleGroupsNamespacesRequest",
        "variableSetterType" : "ListRuleGroupsNamespacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listRuleGroupsNamespaces",
      "operationName" : "ListRuleGroupsNamespaces",
      "returnType" : {
        "returnType" : "ListRuleGroupsNamespacesResult",
        "documentation" : "<p>Represents the output of a ListRuleGroupsNamespaces operation.</p>"
      },
      "syncReturnType" : "ListRuleGroupsNamespacesResult"
    },
    "ListScrapers" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListScrapersResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListScrapersResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListScrapersRequest, ListScrapersResult>",
      "asyncReturnType" : "ListScrapersResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all scrapers in a customer account, including scrapers being created or deleted. You may provide filters to return a more specific list of results.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListScrapersRequest",
        "variableName" : "listScrapersRequest",
        "variableType" : "ListScrapersRequest",
        "documentation" : "<p>Represents the input of a ListScrapers operation.</p>",
        "simpleType" : "ListScrapersRequest",
        "variableSetterType" : "ListScrapersRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listScrapers",
      "operationName" : "ListScrapers",
      "returnType" : {
        "returnType" : "ListScrapersResult",
        "documentation" : "<p>Represents the output of a ListScrapers operation.</p>"
      },
      "syncReturnType" : "ListScrapersResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags you have assigned to the resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "ListWorkspaces" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListWorkspacesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListWorkspacesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListWorkspacesRequest, ListWorkspacesResult>",
      "asyncReturnType" : "ListWorkspacesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all AMP workspaces, including workspaces being created or deleted.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListWorkspacesRequest",
        "variableName" : "listWorkspacesRequest",
        "variableType" : "ListWorkspacesRequest",
        "documentation" : "<p>Represents the input of a ListWorkspaces operation.</p>",
        "simpleType" : "ListWorkspacesRequest",
        "variableSetterType" : "ListWorkspacesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listWorkspaces",
      "operationName" : "ListWorkspaces",
      "returnType" : {
        "returnType" : "ListWorkspacesResult",
        "documentation" : "<p>Represents the output of a ListWorkspaces operation.</p>"
      },
      "syncReturnType" : "ListWorkspacesResult"
    },
    "PutAlertManagerDefinition" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutAlertManagerDefinitionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutAlertManagerDefinitionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutAlertManagerDefinitionRequest, PutAlertManagerDefinitionResult>",
      "asyncReturnType" : "PutAlertManagerDefinitionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update an alert manager definition.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutAlertManagerDefinitionRequest",
        "variableName" : "putAlertManagerDefinitionRequest",
        "variableType" : "PutAlertManagerDefinitionRequest",
        "documentation" : "<p>Represents the input of a PutAlertManagerDefinition operation.</p>",
        "simpleType" : "PutAlertManagerDefinitionRequest",
        "variableSetterType" : "PutAlertManagerDefinitionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putAlertManagerDefinition",
      "operationName" : "PutAlertManagerDefinition",
      "returnType" : {
        "returnType" : "PutAlertManagerDefinitionResult",
        "documentation" : "<p>Represents the output of a PutAlertManagerDefinition operation.</p>"
      },
      "syncReturnType" : "PutAlertManagerDefinitionResult"
    },
    "PutRuleGroupsNamespace" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutRuleGroupsNamespaceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutRuleGroupsNamespaceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutRuleGroupsNamespaceRequest, PutRuleGroupsNamespaceResult>",
      "asyncReturnType" : "PutRuleGroupsNamespaceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update a rule groups namespace.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutRuleGroupsNamespaceRequest",
        "variableName" : "putRuleGroupsNamespaceRequest",
        "variableType" : "PutRuleGroupsNamespaceRequest",
        "documentation" : "<p>Represents the input of a PutRuleGroupsNamespace operation.</p>",
        "simpleType" : "PutRuleGroupsNamespaceRequest",
        "variableSetterType" : "PutRuleGroupsNamespaceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putRuleGroupsNamespace",
      "operationName" : "PutRuleGroupsNamespace",
      "returnType" : {
        "returnType" : "PutRuleGroupsNamespaceResult",
        "documentation" : "<p>Represents the output of a PutRuleGroupsNamespace operation.</p>"
      },
      "syncReturnType" : "PutRuleGroupsNamespaceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates tags for the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes tags from the specified resource.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateLoggingConfiguration" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateLoggingConfigurationResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateLoggingConfigurationResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateLoggingConfigurationRequest, UpdateLoggingConfigurationResult>",
      "asyncReturnType" : "UpdateLoggingConfigurationResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Update logging configuration.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateLoggingConfigurationRequest",
        "variableName" : "updateLoggingConfigurationRequest",
        "variableType" : "UpdateLoggingConfigurationRequest",
        "documentation" : "<p>Represents the input of an UpdateLoggingConfiguration operation.</p>",
        "simpleType" : "UpdateLoggingConfigurationRequest",
        "variableSetterType" : "UpdateLoggingConfigurationRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateLoggingConfiguration",
      "operationName" : "UpdateLoggingConfiguration",
      "returnType" : {
        "returnType" : "UpdateLoggingConfigurationResult",
        "documentation" : "<p>Represents the output of an UpdateLoggingConfiguration operation.</p>"
      },
      "syncReturnType" : "UpdateLoggingConfigurationResult"
    },
    "UpdateWorkspaceAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateWorkspaceAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateWorkspaceAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateWorkspaceAliasRequest, UpdateWorkspaceAliasResult>",
      "asyncReturnType" : "UpdateWorkspaceAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an AMP workspace alias.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>Request was denied due to request throttling.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Request references a resource which does not exist.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Unexpected error during processing of request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Request would cause a service quota to be exceeded.</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateWorkspaceAliasRequest",
        "variableName" : "updateWorkspaceAliasRequest",
        "variableType" : "UpdateWorkspaceAliasRequest",
        "documentation" : "<p>Represents the input of an UpdateWorkspaceAlias operation.</p>",
        "simpleType" : "UpdateWorkspaceAliasRequest",
        "variableSetterType" : "UpdateWorkspaceAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateWorkspaceAlias",
      "operationName" : "UpdateWorkspaceAlias",
      "returnType" : {
        "returnType" : "UpdateWorkspaceAliasResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateWorkspaceAliasResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>User does not have sufficient access to perform this action.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.prometheus.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.prometheus.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "message" ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AlertManagerDefinitionDescription" : {
      "c2jName" : "AlertManagerDefinitionDescription",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Represents the properties of an alert manager definition.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.prometheus.model.AlertManagerDefinitionDescription",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "status",
        "c2jShape" : "AlertManagerDefinitionStatus",
        "deprecated" : false,
        "documentation" : "<p>The status of alert manager definition.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The status of alert manager definition.</p>\n@param status The status of alert manager definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withStatus",
        "getterDocumentation" : "/**<p>The status of alert manager definition.</p>\n@return The status of alert manager definition.*/",
        "getterMethodName" : "getStatus",
        "getterModel" : {
          "returnType" : "AlertManagerDefinitionStatus",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "status",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "status",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Status",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The status of alert manager definition.</p>\n@param status The status of alert manager definition.*/",
        "setterMethodName" : "setStatus",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AlertManagerDefinitionStatus",
          "variableName" : "status",
          "variableType" : "AlertManagerDefinitionStatus",
          "documentation" : "",
          "simpleType" : "AlertManagerDefinitionStatus",
          "variableSetterType" : "AlertManagerDefinitionStatus"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The status of alert manager definition.</p>\n@param status The status of alert manager definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AlertManagerDefinitionStatus",
          "variableName" : "status",
          "variableType" : "AlertManagerDefinitionStatus",
          "documentation" : "<p>The status of alert manager definition.</p>",
          "simpleType" : "AlertManagerDefinitionStatus",
          "variableSetterType" : "AlertManagerDefinitionStatus"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "data",
        "c2jShape" : "AlertManagerDefinitionData",
        "deprecated" : false,
        "documentation" : "<p>The alert manager definition.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The alert manager definition.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The alert manager definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withData",
        "getterDocumentation" : "/**<p>The alert manager definition.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return The alert manager definition.*/",
        "getterMethodName" : "getData",
        "getterModel" : {
          "returnType" : "java.nio.ByteBuffer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "data",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "data",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.nio.ByteBuffer",
        "marshallingType" : "BYTE_BUFFER",
        "name" : "Data",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The alert manager definition.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The alert manager definition.*/",
        "setterMethodName" : "setData",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "data",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The alert manager definition.</p>\n@param data The alert manager definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.nio.ByteBuffer",
          "variableName" : "data",
          "variableType" : "java.nio.ByteBuffer",
          "documentation" : "<p>The alert manager definition.</p>",
          "simpleType" : "ByteBuffer",
          "variableSetterType" : "java.nio.ByteBuffer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "createdAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time when the alert manager definition was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time when the alert manager definition was created.</p>\n@param createdAt The time when the alert manager definition was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreatedAt",
        "getterDocumentation" : "/**<p>The time when the alert manager definition was created.</p>\n@return The time when the alert manager definition was created.*/",
        "getterMethodName" : "getCreatedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "createdAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "createdAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "CreatedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time when the alert manager definition was created.</p>\n@param createdAt The time when the alert manager definition was created.*/",
        "setterMethodName" : "setCreatedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time when the alert manager definition was created.</p>\n@param createdAt The time when the alert manager definition was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "createdAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time when the alert manager definition was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "modifiedAt",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>The time when the alert manager definition was modified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The time when the alert manager definition was modified.</p>\n@param modifiedAt The time when the alert manager definition was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModifiedAt",
        "getterDocumentation" : "/**<p>The time when the alert manager definition was modified.</p>\n@return The time when the alert manager definition was modified.*/",
        "getterMethodName" : "getModifiedAt",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "modifiedAt",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "modifiedAt",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "ModifiedAt",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The time when the alert manager definition was modified.</p>\n@param modifiedAt The time when the alert manager definition was modified.*/",
        "setterMethodName" : "setModifiedAt",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "modifiedAt",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The time when the alert manager definition was modified.</p>\n@param modifiedAt The time when the alert manager definition was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "modifiedAt",
          "variableType" : "java.util.Date",
          "documentation" : "<p>The time when the alert manager definition was modified.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CreatedAt" : {
          "c2jName" : "createdAt",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The time when the alert manager definition was created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time when the alert manager definition was created.</p>\n@param createdAt The time when the alert manager definition was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCreatedAt",
          "getterDocumentation" : "/**<p>The time when the alert manager definition was created.</p>\n@return The time when the alert manager definition was created.*/",
          "getterMethodName" : "getCreatedAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "createdAt",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "createdAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "CreatedAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time when the alert manager definition was created.</p>\n@param createdAt The time when the alert manager definition was created.*/",
          "setterMethodName" : "setCreatedAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time when the alert manager definition was created.</p>\n@param createdAt The time when the alert manager definition was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "createdAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time when the alert manager definition was created.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Data" : {
          "c2jName" : "data",
          "c2jShape" : "AlertManagerDefinitionData",
          "deprecated" : false,
          "documentation" : "<p>The alert manager definition.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The alert manager definition.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The alert manager definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withData",
          "getterDocumentation" : "/**<p>The alert manager definition.</p>\n<p>\n{@code ByteBuffer}s are stateful. Calling their {@code get} methods changes their {@code position}. We recommend using {@link java.nio.ByteBuffer#asReadOnlyBuffer()} to create a read-only view of the buffer with an independent {@code position}, and calling {@code get} methods on this rather than directly on the returned {@code ByteBuffer}. Doing so will ensure that anyone else using the {@code ByteBuffer} will not be affected by changes to the {@code position}.\n</p>\n@return The alert manager definition.*/",
          "getterMethodName" : "getData",
          "getterModel" : {
            "returnType" : "java.nio.ByteBuffer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "data",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "data",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.nio.ByteBuffer",
          "marshallingType" : "BYTE_BUFFER",
          "name" : "Data",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The alert manager definition.</p><p>\nThe AWS SDK for Java performs a Base64 encoding on this field before sending this request to the AWS service. Users of the SDK should not perform Base64 encoding on this field.\n</p>\n<p>\nWarning: ByteBuffers returned by the SDK are mutable. Changes to the content or position of the byte buffer will be seen by all objects that have a reference to this object. It is recommended to call ByteBuffer.duplicate() or ByteBuffer.asReadOnlyBuffer() before using or reading from the buffer. This behavior will be changed in a future major version of the SDK.\n</p>\n\n@param data The alert manager definition.*/",
          "setterMethodName" : "setData",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "data",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The alert manager definition.</p>\n@param data The alert manager definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.nio.ByteBuffer",
            "variableName" : "data",
            "variableType" : "java.nio.ByteBuffer",
            "documentation" : "<p>The alert manager definition.</p>",
            "simpleType" : "ByteBuffer",
            "variableSetterType" : "java.nio.ByteBuffer"
          },
          "xmlNameSpaceUri" : null
        },
        "ModifiedAt" : {
          "c2jName" : "modifiedAt",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>The time when the alert manager definition was modified.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The time when the alert manager definition was modified.</p>\n@param modifiedAt The time when the alert manager definition was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withModifiedAt",
          "getterDocumentation" : "/**<p>The time when the alert manager definition was modified.</p>\n@return The time when the alert manager definition was modified.*/",
          "getterMethodName" : "getModifiedAt",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "modifiedAt",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "modifiedAt",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "ModifiedAt",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The time when the alert manager definition was modified.</p>\n@param modifiedAt The time when the alert manager definition was modified.*/",
          "setterMethodName" : "setModifiedAt",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "modifiedAt",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The time when the alert manager definition was modified.</p>\n@param modifiedAt The time when the alert manager definition was modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "modifiedAt",
            "variableType" : "java.util.Date",
            "documentation" : "<p>The time when the alert manager definition was modified.</p>",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "Status" : {
          "c2jName" : "status",
          "c2jShape" : "AlertManagerDefinitionStatus",
          "deprecated" : false,
          "documentation" : "<p>The status of alert manager definition.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The status of alert manager definition.</p>\n@param status The status of alert manager definition.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withStatus",
          "getterDocumentation" : "/**<p>The status of alert manager definition.</p>\n@return The status of alert manager definition.*/",
          "getterMethodName" : "getStatus",
          "getterModel" : {
            "returnType" : "AlertManagerDefinitionStatus",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
[...]
