{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-07-26",
    "asyncClient" : "AWSBedrockAgentRuntimeAsyncClient",
    "asyncClientBuilderClassName" : "AWSBedrockAgentRuntimeAsyncClientBuilder",
    "asyncInterface" : "AWSBedrockAgentRuntimeAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSBedrockAgentRuntimeModuleInjector",
    "defaultEndpoint" : "bedrock-agent-runtime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "bedrock-agent-runtime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon Bedrock Agent</p>",
    "endpointPrefix" : "bedrock-agent-runtime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.bedrockagentruntime",
    "packagePath" : "com/amazonaws/services/bedrockagentruntime",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Agents for Amazon Bedrock Runtime",
    "serviceId" : "Bedrock Agent Runtime",
    "serviceName" : "Agents for Amazon Bedrock Runtime",
    "signingName" : "bedrock",
    "smokeTestsPackageName" : "com.amazonaws.services.bedrockagentruntime.smoketests",
    "syncClient" : "AWSBedrockAgentRuntimeClient",
    "syncClientBuilderClassName" : "AWSBedrockAgentRuntimeClientBuilder",
    "syncInterface" : "AWSBedrockAgentRuntime",
    "uid" : "bedrock-agent-runtime-2023-07-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "Retrieve" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RetrieveResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RetrieveResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetrieveRequest, RetrieveResult>",
      "asyncReturnType" : "RetrieveResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Retrieve from knowledge base.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependencyFailedException",
        "documentation" : "<p>This exception is thrown when a request fails due to dependency like Lambda, Bedrock, STS resource due to a customer fault (i.e. bad configuration)</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "BadGatewayException",
        "documentation" : "<p>This exception is thrown when a request fails due to dependency like Lambda, Bedrock, STS resource</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RetrieveRequest",
        "variableName" : "retrieveRequest",
        "variableType" : "RetrieveRequest",
        "documentation" : "",
        "simpleType" : "RetrieveRequest",
        "variableSetterType" : "RetrieveRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "retrieve",
      "operationName" : "Retrieve",
      "returnType" : {
        "returnType" : "RetrieveResult",
        "documentation" : null
      },
      "syncReturnType" : "RetrieveResult"
    },
    "RetrieveAndGenerate" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RetrieveAndGenerateResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RetrieveAndGenerateResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RetrieveAndGenerateRequest, RetrieveAndGenerateResult>",
      "asyncReturnType" : "RetrieveAndGenerateResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>RetrieveAndGenerate API</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "DependencyFailedException",
        "documentation" : "<p>This exception is thrown when a request fails due to dependency like Lambda, Bedrock, STS resource due to a customer fault (i.e. bad configuration)</p>",
        "httpStatusCode" : 424
      }, {
        "exceptionName" : "BadGatewayException",
        "documentation" : "<p>This exception is thrown when a request fails due to dependency like Lambda, Bedrock, STS resource</p>",
        "httpStatusCode" : 502
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RetrieveAndGenerateRequest",
        "variableName" : "retrieveAndGenerateRequest",
        "variableType" : "RetrieveAndGenerateRequest",
        "documentation" : "",
        "simpleType" : "RetrieveAndGenerateRequest",
        "variableSetterType" : "RetrieveAndGenerateRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "retrieveAndGenerate",
      "operationName" : "RetrieveAndGenerate",
      "returnType" : {
        "returnType" : "RetrieveAndGenerateResult",
        "documentation" : null
      },
      "syncReturnType" : "RetrieveAndGenerateResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "BadGatewayException" : {
      "c2jName" : "BadGatewayException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This exception is thrown when a request fails due to dependency like Lambda, Bedrock, STS resource</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "BadGatewayException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.exception.BadGatewayException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "resourceName",
        "c2jShape" : "NonBlankString",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param resourceName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getResourceName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceName",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param resourceName */",
        "setterMethodName" : "setResourceName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param resourceName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceName" : {
          "c2jName" : "resourceName",
          "c2jShape" : "NonBlankString",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param resourceName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceName",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getResourceName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceName",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param resourceName */",
          "setterMethodName" : "setResourceName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param resourceName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "BadGatewayException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadGatewayException",
        "variableName" : "badGatewayException",
        "variableType" : "BadGatewayException",
        "documentation" : null,
        "simpleType" : "BadGatewayException",
        "variableSetterType" : "BadGatewayException"
      },
      "wrapper" : false
    },
    "Citation" : {
      "c2jName" : "Citation",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Citation associated with the agent response</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.model.Citation",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "generatedResponsePart",
        "c2jShape" : "GeneratedResponsePart",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param generatedResponsePart \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withGeneratedResponsePart",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getGeneratedResponsePart",
        "getterModel" : {
          "returnType" : "GeneratedResponsePart",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "generatedResponsePart",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "generatedResponsePart",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "GeneratedResponsePart",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param generatedResponsePart */",
        "setterMethodName" : "setGeneratedResponsePart",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "GeneratedResponsePart",
          "variableName" : "generatedResponsePart",
          "variableType" : "GeneratedResponsePart",
          "documentation" : "",
          "simpleType" : "GeneratedResponsePart",
          "variableSetterType" : "GeneratedResponsePart"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param generatedResponsePart \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "GeneratedResponsePart",
          "variableName" : "generatedResponsePart",
          "variableType" : "GeneratedResponsePart",
          "documentation" : "",
          "simpleType" : "GeneratedResponsePart",
          "variableSetterType" : "GeneratedResponsePart"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "retrievedReferences",
        "c2jShape" : "RetrievedReferences",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param retrievedReferences \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRetrievedReferences",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getRetrievedReferences",
        "getterModel" : {
          "returnType" : "java.util.List<RetrievedReference>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "retrievedReferences",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "retrievedReferences",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "RetrievedReference",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "RetrievedReference",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "RetrievedReference",
              "variableName" : "member",
              "variableType" : "RetrievedReference",
              "documentation" : "",
              "simpleType" : "RetrievedReference",
              "variableSetterType" : "RetrievedReference"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "RetrievedReference",
              "variableName" : "member",
              "variableType" : "RetrievedReference",
              "documentation" : "",
              "simpleType" : "RetrievedReference",
              "variableSetterType" : "RetrievedReference"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "RetrievedReference",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "RetrievedReference",
          "templateImplType" : "java.util.ArrayList<RetrievedReference>",
          "templateType" : "java.util.List<RetrievedReference>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "RetrievedReferences",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param retrievedReferences */",
        "setterMethodName" : "setRetrievedReferences",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<RetrievedReference>",
          "variableName" : "retrievedReferences",
          "variableType" : "java.util.List<RetrievedReference>",
          "documentation" : "",
          "simpleType" : "List<RetrievedReference>",
          "variableSetterType" : "java.util.Collection<RetrievedReference>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRetrievedReferences(java.util.Collection)} or {@link #withRetrievedReferences(java.util.Collection)} if you want to override the existing values.</p>\n@param retrievedReferences \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<RetrievedReference>",
          "variableName" : "retrievedReferences",
          "variableType" : "java.util.List<RetrievedReference>",
          "documentation" : "",
          "simpleType" : "List<RetrievedReference>",
          "variableSetterType" : "java.util.Collection<RetrievedReference>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "GeneratedResponsePart" : {
          "c2jName" : "generatedResponsePart",
          "c2jShape" : "GeneratedResponsePart",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param generatedResponsePart \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withGeneratedResponsePart",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getGeneratedResponsePart",
          "getterModel" : {
            "returnType" : "GeneratedResponsePart",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "generatedResponsePart",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "generatedResponsePart",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "GeneratedResponsePart",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param generatedResponsePart */",
          "setterMethodName" : "setGeneratedResponsePart",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "GeneratedResponsePart",
            "variableName" : "generatedResponsePart",
            "variableType" : "GeneratedResponsePart",
            "documentation" : "",
            "simpleType" : "GeneratedResponsePart",
            "variableSetterType" : "GeneratedResponsePart"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param generatedResponsePart \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "GeneratedResponsePart",
            "variableName" : "generatedResponsePart",
            "variableType" : "GeneratedResponsePart",
            "documentation" : "",
            "simpleType" : "GeneratedResponsePart",
            "variableSetterType" : "GeneratedResponsePart"
          },
          "xmlNameSpaceUri" : null
        },
        "RetrievedReferences" : {
          "c2jName" : "retrievedReferences",
          "c2jShape" : "RetrievedReferences",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param retrievedReferences \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRetrievedReferences",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getRetrievedReferences",
          "getterModel" : {
            "returnType" : "java.util.List<RetrievedReference>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "retrievedReferences",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "retrievedReferences",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "RetrievedReference",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "RetrievedReference",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "RetrievedReference",
                "variableName" : "member",
                "variableType" : "RetrievedReference",
                "documentation" : "",
                "simpleType" : "RetrievedReference",
                "variableSetterType" : "RetrievedReference"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "RetrievedReference",
                "variableName" : "member",
                "variableType" : "RetrievedReference",
                "documentation" : "",
                "simpleType" : "RetrievedReference",
                "variableSetterType" : "RetrievedReference"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "RetrievedReference",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "RetrievedReference",
            "templateImplType" : "java.util.ArrayList<RetrievedReference>",
            "templateType" : "java.util.List<RetrievedReference>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "RetrievedReferences",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param retrievedReferences */",
          "setterMethodName" : "setRetrievedReferences",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<RetrievedReference>",
            "variableName" : "retrievedReferences",
            "variableType" : "java.util.List<RetrievedReference>",
            "documentation" : "",
            "simpleType" : "List<RetrievedReference>",
            "variableSetterType" : "java.util.Collection<RetrievedReference>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setRetrievedReferences(java.util.Collection)} or {@link #withRetrievedReferences(java.util.Collection)} if you want to override the existing values.</p>\n@param retrievedReferences \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<RetrievedReference>",
            "variableName" : "retrievedReferences",
            "variableType" : "java.util.List<RetrievedReference>",
            "documentation" : "",
            "simpleType" : "List<RetrievedReference>",
            "variableSetterType" : "java.util.Collection<RetrievedReference>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Citation",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Citation",
        "variableName" : "citation",
        "variableType" : "Citation",
        "documentation" : null,
        "simpleType" : "Citation",
        "variableSetterType" : "Citation"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "DependencyFailedException" : {
      "c2jName" : "DependencyFailedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This exception is thrown when a request fails due to dependency like Lambda, Bedrock, STS resource due to a customer fault (i.e. bad configuration)</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "DependencyFailedException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.exception.DependencyFailedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "resourceName",
        "c2jShape" : "NonBlankString",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param resourceName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withResourceName",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getResourceName",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "resourceName",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "resourceName",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ResourceName",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param resourceName */",
        "setterMethodName" : "setResourceName",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param resourceName \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "resourceName",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ResourceName" : {
          "c2jName" : "resourceName",
          "c2jShape" : "NonBlankString",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param resourceName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withResourceName",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getResourceName",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "resourceName",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "resourceName",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ResourceName",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param resourceName */",
          "setterMethodName" : "setResourceName",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param resourceName \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "resourceName",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "DependencyFailedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DependencyFailedException",
        "variableName" : "dependencyFailedException",
        "variableType" : "DependencyFailedException",
        "documentation" : null,
        "simpleType" : "DependencyFailedException",
        "variableSetterType" : "DependencyFailedException"
      },
      "wrapper" : false
    },
    "GeneratedResponsePart" : {
      "c2jName" : "GeneratedResponsePart",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Generate response part</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.model.GeneratedResponsePart",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "textResponsePart",
        "c2jShape" : "TextResponsePart",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param textResponsePart \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTextResponsePart",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getTextResponsePart",
        "getterModel" : {
          "returnType" : "TextResponsePart",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "textResponsePart",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "textResponsePart",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "TextResponsePart",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param textResponsePart */",
        "setterMethodName" : "setTextResponsePart",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TextResponsePart",
          "variableName" : "textResponsePart",
          "variableType" : "TextResponsePart",
          "documentation" : "",
          "simpleType" : "TextResponsePart",
          "variableSetterType" : "TextResponsePart"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param textResponsePart \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "TextResponsePart",
          "variableName" : "textResponsePart",
          "variableType" : "TextResponsePart",
          "documentation" : "",
          "simpleType" : "TextResponsePart",
          "variableSetterType" : "TextResponsePart"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "TextResponsePart" : {
          "c2jName" : "textResponsePart",
          "c2jShape" : "TextResponsePart",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param textResponsePart \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTextResponsePart",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getTextResponsePart",
          "getterModel" : {
            "returnType" : "TextResponsePart",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "textResponsePart",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "textResponsePart",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "TextResponsePart",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param textResponsePart */",
          "setterMethodName" : "setTextResponsePart",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TextResponsePart",
            "variableName" : "textResponsePart",
            "variableType" : "TextResponsePart",
            "documentation" : "",
            "simpleType" : "TextResponsePart",
            "variableSetterType" : "TextResponsePart"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param textResponsePart \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "TextResponsePart",
            "variableName" : "textResponsePart",
            "variableType" : "TextResponsePart",
            "documentation" : "",
            "simpleType" : "TextResponsePart",
            "variableSetterType" : "TextResponsePart"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "GeneratedResponsePart",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GeneratedResponsePart",
        "variableName" : "generatedResponsePart",
        "variableType" : "GeneratedResponsePart",
        "documentation" : null,
        "simpleType" : "GeneratedResponsePart",
        "variableSetterType" : "GeneratedResponsePart"
      },
      "wrapper" : false
    },
    "InternalServerException" : {
      "c2jName" : "InternalServerException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "InternalServerException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.exception.InternalServerException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "InternalServerException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InternalServerException",
        "variableName" : "internalServerException",
        "variableType" : "InternalServerException",
        "documentation" : null,
        "simpleType" : "InternalServerException",
        "variableSetterType" : "InternalServerException"
      },
      "wrapper" : false
    },
    "KnowledgeBaseQuery" : {
      "c2jName" : "KnowledgeBaseQuery",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Knowledge base input query.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.model.KnowledgeBaseQuery",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "text",
        "c2jShape" : "KnowledgeBaseQueryTextString",
        "deprecated" : false,
        "documentation" : "<p>Knowledge base input query in text</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Knowledge base input query in text</p>\n@param text Knowledge base input query in text\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withText",
        "getterDocumentation" : "/**<p>Knowledge base input query in text</p>\n@return Knowledge base input query in text*/",
        "getterMethodName" : "getText",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "text",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "text",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Text",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Knowledge base input query in text</p>\n@param text Knowledge base input query in text*/",
        "setterMethodName" : "setText",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Knowledge base input query in text</p>\n@param text Knowledge base input query in text\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "<p>Knowledge base input query in text</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Text" : {
          "c2jName" : "text",
          "c2jShape" : "KnowledgeBaseQueryTextString",
          "deprecated" : false,
          "documentation" : "<p>Knowledge base input query in text</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Knowledge base input query in text</p>\n@param text Knowledge base input query in text\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withText",
          "getterDocumentation" : "/**<p>Knowledge base input query in text</p>\n@return Knowledge base input query in text*/",
          "getterMethodName" : "getText",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "text",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "text",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Text",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Knowledge base input query in text</p>\n@param text Knowledge base input query in text*/",
          "setterMethodName" : "setText",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "text",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Knowledge base input query in text</p>\n@param text Knowledge base input query in text\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "text",
            "variableType" : "String",
            "documentation" : "<p>Knowledge base input query in text</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "text" ],
      "shapeName" : "KnowledgeBaseQuery",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "KnowledgeBaseQuery",
        "variableName" : "knowledgeBaseQuery",
        "variableType" : "KnowledgeBaseQuery",
        "documentation" : null,
        "simpleType" : "KnowledgeBaseQuery",
        "variableSetterType" : "KnowledgeBaseQuery"
      },
      "wrapper" : false
    },
    "KnowledgeBaseRetrievalConfiguration" : {
      "c2jName" : "KnowledgeBaseRetrievalConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Search parameters for retrieving from knowledge base.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.model.KnowledgeBaseRetrievalConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "vectorSearchConfiguration",
        "c2jShape" : "KnowledgeBaseVectorSearchConfiguration",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param vectorSearchConfiguration \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVectorSearchConfiguration",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getVectorSearchConfiguration",
        "getterModel" : {
          "returnType" : "KnowledgeBaseVectorSearchConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "vectorSearchConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "vectorSearchConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "VectorSearchConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param vectorSearchConfiguration */",
        "setterMethodName" : "setVectorSearchConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "KnowledgeBaseVectorSearchConfiguration",
          "variableName" : "vectorSearchConfiguration",
          "variableType" : "KnowledgeBaseVectorSearchConfiguration",
          "documentation" : "",
          "simpleType" : "KnowledgeBaseVectorSearchConfiguration",
          "variableSetterType" : "KnowledgeBaseVectorSearchConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param vectorSearchConfiguration \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "KnowledgeBaseVectorSearchConfiguration",
          "variableName" : "vectorSearchConfiguration",
          "variableType" : "KnowledgeBaseVectorSearchConfiguration",
          "documentation" : "",
          "simpleType" : "KnowledgeBaseVectorSearchConfiguration",
          "variableSetterType" : "KnowledgeBaseVectorSearchConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "VectorSearchConfiguration" : {
          "c2jName" : "vectorSearchConfiguration",
          "c2jShape" : "KnowledgeBaseVectorSearchConfiguration",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param vectorSearchConfiguration \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVectorSearchConfiguration",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getVectorSearchConfiguration",
          "getterModel" : {
            "returnType" : "KnowledgeBaseVectorSearchConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "vectorSearchConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "vectorSearchConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "VectorSearchConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param vectorSearchConfiguration */",
          "setterMethodName" : "setVectorSearchConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "KnowledgeBaseVectorSearchConfiguration",
            "variableName" : "vectorSearchConfiguration",
            "variableType" : "KnowledgeBaseVectorSearchConfiguration",
            "documentation" : "",
            "simpleType" : "KnowledgeBaseVectorSearchConfiguration",
            "variableSetterType" : "KnowledgeBaseVectorSearchConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param vectorSearchConfiguration \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "KnowledgeBaseVectorSearchConfiguration",
            "variableName" : "vectorSearchConfiguration",
            "variableType" : "KnowledgeBaseVectorSearchConfiguration",
            "documentation" : "",
            "simpleType" : "KnowledgeBaseVectorSearchConfiguration",
            "variableSetterType" : "KnowledgeBaseVectorSearchConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "vectorSearchConfiguration" ],
      "shapeName" : "KnowledgeBaseRetrievalConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "KnowledgeBaseRetrievalConfiguration",
        "variableName" : "knowledgeBaseRetrievalConfiguration",
        "variableType" : "KnowledgeBaseRetrievalConfiguration",
        "documentation" : null,
        "simpleType" : "KnowledgeBaseRetrievalConfiguration",
        "variableSetterType" : "KnowledgeBaseRetrievalConfiguration"
      },
      "wrapper" : false
    },
    "KnowledgeBaseRetrievalResult" : {
      "c2jName" : "KnowledgeBaseRetrievalResult",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Result item returned from a knowledge base retrieval.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.model.KnowledgeBaseRetrievalResult",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "content",
        "c2jShape" : "RetrievalResultContent",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param content \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContent",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getContent",
        "getterModel" : {
          "returnType" : "RetrievalResultContent",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "content",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "content",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Content",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param content */",
        "setterMethodName" : "setContent",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RetrievalResultContent",
          "variableName" : "content",
          "variableType" : "RetrievalResultContent",
          "documentation" : "",
          "simpleType" : "RetrievalResultContent",
          "variableSetterType" : "RetrievalResultContent"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param content \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RetrievalResultContent",
          "variableName" : "content",
          "variableType" : "RetrievalResultContent",
          "documentation" : "",
          "simpleType" : "RetrievalResultContent",
          "variableSetterType" : "RetrievalResultContent"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "location",
        "c2jShape" : "RetrievalResultLocation",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param location \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLocation",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getLocation",
        "getterModel" : {
          "returnType" : "RetrievalResultLocation",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "location",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "location",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Location",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param location */",
        "setterMethodName" : "setLocation",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RetrievalResultLocation",
          "variableName" : "location",
          "variableType" : "RetrievalResultLocation",
          "documentation" : "",
          "simpleType" : "RetrievalResultLocation",
          "variableSetterType" : "RetrievalResultLocation"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param location \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "RetrievalResultLocation",
          "variableName" : "location",
          "variableType" : "RetrievalResultLocation",
          "documentation" : "",
          "simpleType" : "RetrievalResultLocation",
          "variableSetterType" : "RetrievalResultLocation"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "score",
        "c2jShape" : "Double",
        "deprecated" : false,
        "documentation" : "<p>The relevance score of a result.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The relevance score of a result.</p>\n@param score The relevance score of a result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withScore",
        "getterDocumentation" : "/**<p>The relevance score of a result.</p>\n@return The relevance score of a result.*/",
        "getterMethodName" : "getScore",
        "getterModel" : {
          "returnType" : "Double",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "score",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "score",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Double",
        "marshallingType" : "DOUBLE",
        "name" : "Score",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The relevance score of a result.</p>\n@param score The relevance score of a result.*/",
        "setterMethodName" : "setScore",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "score",
          "variableType" : "Double",
          "documentation" : "",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The relevance score of a result.</p>\n@param score The relevance score of a result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Double",
          "variableName" : "score",
          "variableType" : "Double",
          "documentation" : "<p>The relevance score of a result.</p>",
          "simpleType" : "Double",
          "variableSetterType" : "Double"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Content" : {
          "c2jName" : "content",
          "c2jShape" : "RetrievalResultContent",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param content \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContent",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getContent",
          "getterModel" : {
            "returnType" : "RetrievalResultContent",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "content",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "content",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Content",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param content */",
          "setterMethodName" : "setContent",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "RetrievalResultContent",
            "variableName" : "content",
            "variableType" : "RetrievalResultContent",
            "documentation" : "",
            "simpleType" : "RetrievalResultContent",
            "variableSetterType" : "RetrievalResultContent"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param content \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "RetrievalResultContent",
            "variableName" : "content",
            "variableType" : "RetrievalResultContent",
            "documentation" : "",
            "simpleType" : "RetrievalResultContent",
            "variableSetterType" : "RetrievalResultContent"
          },
          "xmlNameSpaceUri" : null
        },
        "Location" : {
          "c2jName" : "location",
          "c2jShape" : "RetrievalResultLocation",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param location \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLocation",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getLocation",
          "getterModel" : {
            "returnType" : "RetrievalResultLocation",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "location",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "location",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Location",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param location */",
          "setterMethodName" : "setLocation",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "RetrievalResultLocation",
            "variableName" : "location",
            "variableType" : "RetrievalResultLocation",
            "documentation" : "",
            "simpleType" : "RetrievalResultLocation",
            "variableSetterType" : "RetrievalResultLocation"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param location \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "RetrievalResultLocation",
            "variableName" : "location",
            "variableType" : "RetrievalResultLocation",
            "documentation" : "",
            "simpleType" : "RetrievalResultLocation",
            "variableSetterType" : "RetrievalResultLocation"
          },
          "xmlNameSpaceUri" : null
        },
        "Score" : {
          "c2jName" : "score",
          "c2jShape" : "Double",
          "deprecated" : false,
          "documentation" : "<p>The relevance score of a result.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The relevance score of a result.</p>\n@param score The relevance score of a result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withScore",
          "getterDocumentation" : "/**<p>The relevance score of a result.</p>\n@return The relevance score of a result.*/",
          "getterMethodName" : "getScore",
          "getterModel" : {
            "returnType" : "Double",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "score",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "score",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Double",
          "marshallingType" : "DOUBLE",
          "name" : "Score",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The relevance score of a result.</p>\n@param score The relevance score of a result.*/",
          "setterMethodName" : "setScore",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "score",
            "variableType" : "Double",
            "documentation" : "",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The relevance score of a result.</p>\n@param score The relevance score of a result.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Double",
            "variableName" : "score",
            "variableType" : "Double",
            "documentation" : "<p>The relevance score of a result.</p>",
            "simpleType" : "Double",
            "variableSetterType" : "Double"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockagentruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "content" ],
      "shapeName" : "KnowledgeBaseRetrievalResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "KnowledgeBaseRetrievalResult",
        "variableName" : "knowledgeBaseRetrievalResult",
        "variableType" : "KnowledgeBaseRetrievalResult",
        "documentation" : null,
        "simpleType" : "KnowledgeBaseRetrievalResult",
        "variableSetterType" : "KnowledgeBaseRetrievalResult"
      },
      "wrapper" : false
    },
    "KnowledgeBaseRetrieveAndGenerateConfiguration" : {
      "c2jName" : "KnowledgeBaseRetrieveAndGenerateConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Configurations for retrieval and generation for knowledge base.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockagentruntime.model.KnowledgeBaseRetrieveAndGenerateConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "knowledgeBaseId",
        "c2jShape" : "KnowledgeBaseId",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param knowledgeBaseId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKnowledgeBaseId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getKnowledgeBaseId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "knowledgeBaseId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "knowledgeBaseId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KnowledgeBaseId",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param knowledgeBaseId */",
        "setterMethodName" : "setKnowledgeBaseId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "knowledgeBaseId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param knowledgeBaseId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "knowledgeBaseId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "modelArn",
        "c2jShape" : "BedrockModelArn",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param modelArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModelArn",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getModelArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "modelArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "modelArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ModelArn",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param modelArn */",
        "setterMethodName" : "setModelArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param modelArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "KnowledgeBaseId" : {
          "c2jName" : "knowledgeBaseId",
          "c2jShape" : "KnowledgeBaseId",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param knowledgeBaseId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKnowledgeBaseId",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getKnowledgeBaseId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "knowledgeBaseId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "knowledgeBaseId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "KnowledgeBaseId",
          "sensitive" : false,
[...]
